/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2014, 2:25:21 PM
    Author     : A.R. Dzulqarnain
*/


.currentoption{
    font-size:1.4em;
    font-family: HelveticaNeue, Roboto, 'Myriad Pro', 'Nokia Pure', Arial, sans-serif;
    font-weight: bold;
}


.optionbutton{ 
    top:-0.03em;
    position: absolute;
    right: 0.1em;
}



#areaselect-list, #areascheduleselect-list, #zoneselect-list, #schedule-add-zoneselect, #schedule-add-buttons{
    background-color : transparent;
    border:0px;
}

.statusvalue{
    float:right;
}

.modaltitle{
    float:left;
    margin-left:.5em;
    font-size:0.75em;
    color:#FFF;
}

#mainnavbar, #schedulenavbar,#statusnavbar ,#areamodalnavbar,#zonemodalnavbar,#areaschedulemodalnavbar,#schedule-add-navbar,#schedule-add-modalnavbar {
    background-color: #4c5356;
    border-bottom-style:solid;
    border-bottom-color:#10c4b2;
    border-bottom-width:0.15em;
}

#maintitle, #scheduletitle, #statustitle, #schedulebackbutton, #backbutton, #zonecancelbutton,#areacancelbutton,#areaschedulecancelbutton,#schedule-add-title, #schedule-add-modalcancel{
    color:#FFF;
    font-style: normal;
}

.scheduleitem{
    clear:both;
    margin-top:0em;
    margin-left:0.7em;
    font-size:0.8em;
}

.eventstatus{
    float:left;
    font-size:0.8em;
}

.eventtimestamp{
    float:right;
    font-size:0.8em;
}

.eventdetail{
    clear:both;
    margin-top:2em;
    margin-left:0.7em;
    font-size:0.6em;
}

.aboutblock{
    display: table;
    margin: 0 auto;
    width:300px;
    height: 40%;
}

.abouttitle{
    font-size:2em;
}

.aboutdetails{
    padding: 20% 0;
    margin: 0 auto;
    text-align:center;
    font-size:0.75em;
}

#startuplogo{
    font-size:4.4em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color:#4c5356;
    text-align: center;
    height:1em;
}

#startuplogoborder{
	margin-top:0.4em;
    width : 11.2em;
    height: 0px;
    border-bottom-style:solid;
    border-bottom-color:#10c4b2;
    border-bottom-width:0.15em;
    margin-left: auto;
    margin-right: auto;
}

#startuplogo2{
	margin-top:0.5em;
    font-size:0.899em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color:#4c5356;
    text-align: center;
}

#enterbuttonsection{
    text-align: center;
    margin-top: 2.4em;
}

#enterbutton{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:white;
    width:11.16em;
}

#enterbutton{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:white;
    width:12em;
}


#startup .km-content{
}


div .km-scroll-container{
    height:568px;
}
#startupcontent{
    padding: 55% 0;
    width:100%;
}

#schedule-list .scheduleday{
    font-size: 0.85em;
    line-height: 1.2em;
    margin: .05em 1em 0 .6em;
    width: 50%;
}

#schedule-list .schedulesetting, #schedule-list .scheduletime{
    font-size: 0.7em;
    line-height: 1.4em;
    margin: .2em 1em 0 0.6em;
    width: 50%;
}

#schedule-list .deletebutton{
    margin-top: -1em;
    position: absolute;
    right: 0.8em;
    top: 50%;
}

#schedule-list .km-listview-link::after, #addschedule .km-listview-link::after{
    display: none;
}

#schedule-add-form .savebutton, #schedule-add-form .cancelbutton {
    width: 30%;
    text-align:center;
}

#schedule-add-form .savebutton{
    float:left; 
    margin-left:10%;
}

#schedule-add-form .cancelbutton{
    float:right; 
    margin-right:10%;
}

#addschedule{
    text-align:center;
}
